{% extends "django_web/base.html" %}

{% block content %}
<form method="post" action="{% url 'users:confirm' %}">
    {% csrf_token %}
    {{ form.errors }}
    {{ form.non_field_errors }}
    {{ form.errors.username }}
    <label for="id_username" class="disp-block color-white">ニックネーム</label>
    {{ form.username }}
    <label for="id_email" class="disp-block color-white">メールアドレス</label>
    {{ form.errors.email }}
    {{ form.email }}
    {{ form.errors.password1 }}
    <label for="id_password1" class="disp-block color-white">パスワード</label>
    {{ form.password1 }}
    {{ form.errors.password2 }}
    <label for="id_password2" class="disp-block color-white">確認用パスワード</label>
    {{ form.password2 }}
    <input type="submit" value="Create">
</form>
{% endblock %}